:root {
	--layout-bg-color-light: #ffffff;
	--layout-bg-color-dark: #18181b;
	--layout-bg-color: var(--layout-bg-color-light);

	--card-bg-color-light: #f0f0f0;
	--card-bg-color-dark: #101010;
	--card-bg-color: var(--card-bg-color-light);

	--border-color-light: #cbcbcb;
	--border-color-dark: #3d444d;
	--border-color: var(--border-color-light);

	--radius: 4px;
	--spacing: 8px;
}

html,
body {
	margin: 0;
	padding: 0;
}

.fx.border {
	border-color: var(--border-color);
	border-style: solid;
	border-width: 1px;
}

.fx.radius {
	border-radius: var(--radius);
}

.fx.p1 {
	padding: var(--spacing);
}

.fx.p2 {
	padding: calc(var(--spacing) * 2);
}

.fx.p3 {
	padding: calc(var(--spacing) * 3);
}

.fx.p4 {
	padding: calc(var(--spacing) * 4);
}

.fx.p1h {
	padding-left: var(--spacing);
	padding-right: var(--spacing);
}

.fx.p2h {
	padding-left: calc(var(--spacing) * 2);
	padding-right: calc(var(--spacing) * 2);
}

.fx.p3h {
	padding-left: calc(var(--spacing) * 3);
	padding-right: calc(var(--spacing) * 3);
}

.dark {
	--layout-bg-color: var(--layout-bg-color-dark);
	--card-bg-color: var(--card-bg-color-dark);
	--border-color: var(--border-color-dark);
}

.fx {
	display: flex;
	flex-direction: row;
}

.fx.card {
	background-color: var(--card-bg-color);
}

.fx.bg {
	background-color: var(--layout-bg-color);
}

.fx.fl {
	flex: 1;
	width: 100%;
	height: 100%;
}

.fx.col {
	display: flex;
	flex-direction: column;
}

.fx.layout {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: var(--layout-bg-color);
}

.fx.cx {
	align-items: center;
}

.fx.cy {
	justify-content: center;
}

div,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family:
		Inter, -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", "blueprint-icons-16",
		sans-serif;
}
