@import "@blueprintjs/icons";
@import "@blueprintjs/core";

@import "@alepha/react-flex";
@import "components/shared/StupidLogo.css";

:root {
	--color-gold: #db9b05;
	--color-silver: #b9b6b6ff;
	--color-high-priority: #d61b1b;
}

body {
	font-family:
		"Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
		"Roboto", Helvetica, Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji";
}

pre {
	margin: 0;
	font-family: "Fira Code", "Liberation Mono", Menlo, Courier, monospace;
	font-size: 12px;
}

.bp6-input {
	background-color: #f8f8f8;
}

@media (max-width: 990px) {
	.drawer.bp6-drawer {
		width: 100%;
	}
	:root {
		--spacing: 4px;
	}
}

@media (max-width: 1408px) {
	pre {
		white-space: pre-wrap;
	}
}

/* ------------------------------------------------------------------------------------------------------------------- */

.container {
	height: 100%;
	width: 1000px;
	margin: 0 auto;
}

@media (max-width: 990px) {
	.container {
		width: 800px;
	}
}

@media (max-width: 768px) {
	.container {
		max-width: 100%;
	}
}
