@import "@blueprintjs/core";
@import "@alepha/react-flex";

@import "components/auth/Login.css";
@import "components/shared/StupidLogo.css";
@import "components/shared/ExperienceBar.css";

@import "highlight.js/styles/github.css";
@import "./styles/code-github-dark.css";

:root {
	--color-gold: #db9b05;
	--color-silver: #b9b6b6ff;
	--color-high-priority: #d61b1b;
}

body,
span {
	font-family:
		"Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
		"Roboto", Helvetica, Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji";
}

pre {
	margin: 0;
	font-family: "Fira Code", "Liberation Mono", Menlo, Courier, monospace;
	font-size: 12px;
}

.bp6-form-group {
	margin-bottom: 0;
}

.bp6-input {
	background-color: #f8f8f8;
}

@media (max-width: 990px) {
	.drawer.bp6-drawer {
		width: 100%;
	}
	:root {
		--spacing: 4px;
	}
}

@media (max-width: 1408px) {
	pre {
		white-space: pre-wrap;
	}
}

.color-scheme-dark {
	#logo-github {
		background-color: #24292e;
	}
}

/* ------------------------------------------------------------------------------------------------------------------ */

.container {
	height: 100%;
	width: 920px;
	margin: 0 auto;
}

@media (max-width: 1200px) {
	.container {
		width: 800px;
	}
	.container.header {
		width: 100%;
	}
}

@media (max-width: 768px) {
	.container {
		max-width: 100%;
	}
}

/* ------------------------------------------------------------------------------------------------------------------ */

@media (max-width: 768px) {
	.bp6-button.hide-sm-up-text {
		.bp6-button-text {
			display: none !important;
		}
		.bp6-icon {
			margin-left: 0 !important;
			margin-right: 0 !important;
		}
	}
}

@media (max-width: 990px) {
	.bp6-button.hide-md-up-text {
		.bp6-button-text {
			display: none !important;
		}
		.bp6-icon,
		img {
			margin-left: 0 !important;
			margin-right: 0 !important;
		}
	}
}

@media (max-width: 1200px) {
	.bp6-button.hide-lg-up-text {
		.bp6-button-text {
			display: none !important;
		}
		.bp6-icon,
		img {
			margin-left: 0 !important;
			margin-right: 0 !important;
		}
	}
}

/* ------------------------------------------------------------------------------------------------------------------ */

.tiptap.ProseMirror {
	height: 100%;
}
